.service {
    margin-top: 8vh;
    background-color: #EBEFF3;
    padding-bottom: 8vh;

    &#cryptopedia {
        margin-top: 0;

        & .service_title {
            margin-top: 0;
        }
    }

    &-remove-margin {
        margin-top: 0 !important;
    }


    &_title {
        width: 100%;
        font-size: 42px;
        color: #343352;
        text-align: center;
        margin: 0;
        margin-top: 110px;
        padding: 10px 0;
        margin-bottom: 60px;
        background-color:#FFFFFF;
        box-shadow: 0 0 12px 3px rgb(0 0 0 / 10%);

        & h3 {
            font-size: 42px;
        }

    }
    
    &_container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        
        &-box {
            border-radius: 8px;
            box-shadow: 0 0 24px rgb(196 196 196 / 24%);
            width: 28%;
            max-width: 340px;
            height: 400px;
            background-color: white;
            position: relative;
            &-title {
                margin-left: 20px;
                margin-top: 20px;
                display: flex;
                align-items: center;
                &_icon {
                    display: flex;
                    background-color: #EDF1F4;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    color: #4853F7;
                
                    & i {
                        font-size: 20px;
                    }
                
                }
                
                &-sub {
                    margin-left: 10px;
                    color: #343352;
                }

            }

            &-body {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            
                & p {
                    font-size: 36px;
                    font-weight: 500;
                }
                
            }
        }   
    }
}   


@media screen and (max-width: 1500px) {

    .service_container-box {
        min-width: 300px;
        margin-bottom: 80px;
    }

    .service_container-box-title-sub {
        font-size: 24px;
    }

}