* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 300;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

nav a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(midnightblue), color-stop(50%, midnightblue), color-stop(50%, royalblue));
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}
nav a img {
  width: 24px;
  position: relative;
  top: 5px;
}
nav a:active {
  color: #2e2e2e;
}
nav a:hover {
  background-position: 0 100%;
}

@media screen and (max-width: 1500px) {
  nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  #lang_icon_mobile {
    width: 24px;
  }
}
@media screen and (min-width: 1501px) {
  nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 8px;
}

footer {
  height: 100px;
  background-color: #171924;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer_box {
  width: 30%;
}
footer p {
  text-align: center;
  color: #F2F2F2;
  font-size: 14px;
}

@media screen and (max-width: 1500px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_box {
    width: 60%;
  }
}
.logo {
  height: 50px;
}
.logo img {
  height: 50px;
  width: 180px;
}

.impact {
  position: relative;
  width: 100%;
  height: 84vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  z-index: 0;
  margin-top: 70px;
}
.impact::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff0081, #6827b0);
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
  -webkit-filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}
.impact_container {
  margin-top: 1vh;
  width: 100%;
  display: table;
  z-index: 1;
}
.impact_container_column-60 {
  width: 60%;
  float: left;
}
.impact_container_column-60 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 70px;
  margin-bottom: 0;
  margin-top: 16vh;
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, text-flicker-out-glow 2.5s linear both;
          animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, text-flicker-out-glow 2.5s linear both;
}
.impact_container_column-60 h4 {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-left: 80px;
  margin-top: -10px;
}
.impact_container_column-60 p {
  font-size: 18px;
  color: #ffffff;
  margin: 3.2vh 18vw 0 calc(54px + 2vw);
  font-weight: 300;
}
.impact_container_column-40 {
  width: 40%;
  float: left;
  padding: 90px 140px 50px 100px;
}
.impact_container_column-40 img {
  width: 400px;
  -webkit-filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.3));
}
.impact-dark::before {
  background: linear-gradient(45deg, #060B31, #024879);
}
.impact_discover {
  position: absolute;
  bottom: 6vh;
  text-align: center;
  color: #ffffff;
  -webkit-animation: fade-in-discover 1s ease-in;
          animation: fade-in-discover 1s ease-in;
}
.impact_discover i {
  font-size: 1.2em;
  color: #ffffff;
}

@media screen and (max-width: 1500px) {
  .impact {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20vw));
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20vw));
    height: auto;
  }
  .impact::before {
    border-radius: 0;
    top: 0;
  }
  .impact_container {
    height: 50vh;
  }
  .impact_container_column-60 {
    width: 100%;
  }
  .impact_container_column-60 h1 {
    margin-top: 120px;
    font-size: 32px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
  .impact_container_column-60 h4 {
    font-size: 22px;
    text-align: center;
    margin: 0;
  }
  .impact_container_column-60 p {
    display: none;
  }
  .impact_container_column-40 {
    display: none;
  }
  .impact_container_discover {
    bottom: 14vh;
  }
}
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes fade-in-discover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-discover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.our-services {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.our-services h2 {
  width: 100%;
  font-size: 42px;
  color: #343352;
  text-align: center;
  margin: 0;
  margin-top: 110px;
  margin-bottom: 60px;
}
.our-services_box {
  width: 80%;
  max-width: 300px;
  height: auto;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
  padding: 40px 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.our-services_box:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.25), rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.25), rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.our-services_box i {
  font-size: 64px;
  color: #636A6F;
}
.our-services_box h4 {
  font-size: 17px;
  color: #343352;
  margin: 20px 0;
}
.our-services_box p {
  color: #495259;
  font-weight: 300;
  font-size: 16px;
  padding: 0 40px;
}
.our-services_box-frosted {
  width: 80%;
  max-width: 300px;
  height: auto;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}
.our-services_box-frosted::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 300px 500px rgba(255, 255, 255, 0.08);
          box-shadow: inset 0 0 300px 500px rgba(255, 255, 255, 0.08);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.curtain-nav {
  position: fixed;
  display: none;
  top: 70px;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 220px;
  border-top: 1px solid rgba(39, 38, 38, 0.212);
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.curtain-nav ul {
  padding: 0;
  margin-top: 10px;
}
.curtain-nav ul li {
  list-style: none;
  margin: 14px;
}
.curtain-nav ul li a {
  text-decoration: none;
  color: #4169E1;
  width: 100%;
}

.service {
  margin-top: 8vh;
  background-color: #EBEFF3;
  padding-bottom: 8vh;
}
.service#cryptopedia {
  margin-top: 0;
}
.service#cryptopedia .service_title {
  margin-top: 0;
}
.service-remove-margin {
  margin-top: 0 !important;
}
.service_title {
  width: 100%;
  font-size: 42px;
  color: #343352;
  text-align: center;
  margin: 0;
  margin-top: 110px;
  padding: 10px 0;
  margin-bottom: 60px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.1);
}
.service_title h3 {
  font-size: 42px;
}
.service_container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.service_container-box {
  border-radius: 8px;
  -webkit-box-shadow: 0 0 24px rgba(196, 196, 196, 0.24);
          box-shadow: 0 0 24px rgba(196, 196, 196, 0.24);
  width: 28%;
  max-width: 340px;
  height: 400px;
  background-color: white;
  position: relative;
}
.service_container-box-title {
  margin-left: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service_container-box-title_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EDF1F4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4853F7;
}
.service_container-box-title_icon i {
  font-size: 20px;
}
.service_container-box-title-sub {
  margin-left: 10px;
  color: #343352;
}
.service_container-box-body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.service_container-box-body p {
  font-size: 36px;
  font-weight: 500;
}

@media screen and (max-width: 1500px) {
  .service_container-box {
    min-width: 300px;
    margin-bottom: 80px;
  }

  .service_container-box-title-sub {
    font-size: 24px;
  }
}
.inspector {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inspector input {
  font-family: "Poppins", sans-serif;
  width: 30%;
  border-radius: 8px;
  outline: none;
  border: 0;
  padding: 12px 10px;
  height: 36px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.inspector label {
  color: #343352;
  font-size: 12px;
  margin-top: 6px;
}
.inspector_input-dark {
  background-color: #292C33;
  color: #f2f2f2;
}
.inspector_input-dark::-webkit-input-placeholder {
  color: #f2f2f2;
}
.inspector_input-dark::-moz-placeholder {
  color: #f2f2f2;
}
.inspector_input-dark:-ms-input-placeholder {
  color: #f2f2f2;
}
.inspector_input-dark::-ms-input-placeholder {
  color: #f2f2f2;
}
.inspector_input-dark::placeholder {
  color: #f2f2f2;
}
.inspector_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.inspector_container-box {
  position: relative;
  width: 20%;
  height: 140px;
  border-radius: 8px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 24px rgba(196, 196, 196, 0.24);
          box-shadow: 0 0 24px rgba(196, 196, 196, 0.24);
}
.inspector_container-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  margin-left: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.inspector_container-box-title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  width: 32px;
  border-radius: 50%;
  height: 32px;
  background-color: #EDF1F4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inspector_container-box-title-icon i {
  color: #4853F7;
  font-size: 14px;
}
.inspector_container-box-title-text {
  font-size: 16px;
}
.inspector_container-box-body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.inspector_container-box-body p {
  font-size: 16px;
}

@media screen and (max-width: 1500px) {
  .inspector_container-box {
    min-width: 200px;
    margin-bottom: 60px;
  }

  .margin-fixed {
    margin-left: 0;
  }

  .inspector input {
    width: 70%;
  }
  .inspector label {
    font-size: 10px;
  }
}
.cryptopedia_container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 21%;
          flex: 2 0 21%;
}
.cryptopedia_container-box {
  border-radius: 8px;
  -webkit-box-shadow: 0 0 24px rgba(196, 196, 196, 0.24);
          box-shadow: 0 0 24px rgba(196, 196, 196, 0.24);
  width: 23%;
  min-width: 320px;
  max-width: 640px;
  height: 400px;
  background-color: white;
  position: relative;
  margin: 0 20px;
  margin-bottom: 80px;
}
.cryptopedia_container-box-image {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  height: 120px;
}
.cryptopedia_container-box-image img {
  width: 60%;
}
.cryptopedia_container-box-image img#bitcoin-img {
  width: 90%;
}
.cryptopedia_container-box-text {
  font-family: "Roboto", sans-serif;
  color: #343352;
  padding: 0 30px;
  margin-top: 30px;
}
.cryptopedia_container-box-text p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin-top: 16px;
}
.cryptopedia_container-box-text a {
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-decoration: none;
}

@media screen and (max-width: 1500px) {
  .cryptopedia_container {
    width: 96%;
  }
  .cryptopedia_container-box {
    min-width: 300px;
    max-width: 500px;
    margin: 0 40px 80px 40px;
  }
}
.crypto-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.crypto-container-box-text {
  width: 70%;
}
.crypto-container-box-text h1 {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  color: #343352;
  margin-bottom: 20px;
}
.crypto-container-box-text_paragraph {
  font-size: 16px;
  color: #5c6771;
  margin-right: 200px;
}
.crypto-container-box-text_sub-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #343352;
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.crypto-container-box-illustration {
  width: 30%;
  margin-top: 80px;
}
.crypto-container-box-illustration iframe {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
  position: fixed;
  border-radius: 12px;
}

@media screen and (max-width: 1500px) {
  .crypto-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .crypto-container-box-text {
    width: 100%;
    text-align: center;
  }
  .crypto-container-box-text_paragraph {
    width: 100%;
    margin-right: 0;
  }
}